In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data.csv',encoding='cp1252',low_memory=False)

In [3]:
print(df.head())

  stn_code       sampling_date           state   location agency  \
0      150  February - M021990  Andhra Pradesh  Hyderabad    NaN
1      151  February - M021990  Andhra Pradesh  Hyderabad    NaN
2      152  February - M021990  Andhra Pradesh  Hyderabad    NaN
3      150     March - M031990  Andhra Pradesh  Hyderabad    NaN
4      151     March - M031990  Andhra Pradesh  Hyderabad    NaN

                                 type  so2   no2  rspm  spm  \
0  Residential, Rural and other Areas  4.8  17.4   NaN  NaN
1                     Industrial Area  3.1   7.0   NaN  NaN
2  Residential, Rural and other Areas  6.2  28.5   NaN  NaN
3  Residential, Rural and other Areas  6.3  14.7   NaN  NaN
4                     Industrial Area  4.7   7.5   NaN  NaN

  location_monitoring_station  pm2_5        date
0                         NaN    NaN  1990-02-01
1                         NaN    NaN  1990-02-01
2                         NaN    NaN  1990-02-01
3                         NaN    NaN  1990-03-01
4                         NaN    NaN  1990-03-01

In [4]:
df.dtypes

stn_code                        object
sampling_date                   object
state                           object
location                        object
agency                          object
type                            object
so2                            float64
no2                            float64
rspm                           float64
spm                            float64
location_monitoring_station     object
pm2_5                          float64
date                            object
dtype: object

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435742 entries, 0 to 435741
Data columns (total 13 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   stn_code                     291665 non-null  object
 1   sampling_date                435739 non-null  object
 2   state                        435742 non-null  object
 3   location                     435739 non-null  object
 4   agency                       286261 non-null  object
 5   type                         430349 non-null  object
 6   so2                          401096 non-null  float64
 7   no2                          419509 non-null  float64
 8   rspm                         395520 non-null  float64
 9   spm                          198355 non-null  float64
 10  location_monitoring_station  408251 non-null  object
 11  pm2_5                        9314 non-null    float64
 12  date                         435735 non-null  object
dtypes: float64(5), object(8)
memory usage: 43.2+ MB

In [6]:
df.shape

(435742, 13)

In [7]:
df.isnull().sum()

stn_code                       144077
sampling_date                       3
state                               0
location                            3
agency                         149481
type                             5393
so2                             34646
no2                             16233
rspm                            40222
spm                            237387
location_monitoring_station     27491
pm2_5                          426428
date                                7
dtype: int64

In [8]:
df['state'].unique()

array(['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar',
       'Chandigarh', 'Chhattisgarh', 'Dadra & Nagar Haveli',
       'Daman & Diu', 'Delhi', 'Goa', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand', 'Karnataka',
       'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
       'Mizoram', 'Nagaland', 'Odisha', 'Puducherry', 'Punjab',
       'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana', 'Uttar Pradesh',
       'Uttarakhand', 'Uttaranchal', 'West Bengal',
       'andaman-and-nicobar-islands', 'Lakshadweep', 'Tripura'],
      dtype=object)

In [9]:
df.duplicated().sum()

674

In [10]:
df = df.drop_duplicates()

In [11]:
df.duplicated().sum()

0

In [13]:
df = df.dropna(axis='index',how='any',subset=['sampling_date'])

In [14]:
df['sampling_date'].isnull().sum()

0

In [18]:
df[df['date'].isnull()]

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
148537,598,31/9/2014,Karnataka,Bangalore,Karnataka State Pollution Control Board,Sensitive Area,6.0,8.0,25.0,NaN,"Department of Environmental Science, Jnanabhar...",NaN,NaN
245191,281,31/6/2014,Maharashtra,Chandrapur,Maharashtra State Pollution Control Board,Industrial Area,11.0,25.0,80.0,NaN,M.I.D.C. Chandrapur.,NaN,NaN
245355,639,31/6/2014,Maharashtra,Chandrapur,Maharashtra State Pollution Control Board,"Residential, Rural and other Areas",12.0,41.0,104.0,NaN,"Muncipal Council, Ballarshah, Chandrapur",NaN,NaN
284318,690,31/11/2014,Odisha,Balasore,Odisha State Pollution Control Board,Industrial Area,9.0,14.0,105.0,NaN,"Rasulpur, Near Balgopalpur Industrial Area",NaN,NaN

In [20]:
df = df.dropna(subset=['date'])

In [21]:
df['date'].isnull().sum()

0

In [22]:
state_df = df.groupby('state')

In [23]:
state_df['so2'].mean()

state
Andhra Pradesh           7.307228
Arunachal Pradesh        3.179104
Assam                    6.722960
Bihar                   19.357507
Chandigarh               2.671652
Chhattisgarh            12.846609
Dadra & Nagar Haveli     8.946019
Daman & Diu              8.198198
Delhi                    8.736373
Goa                      6.829714
Gujarat                 16.630864
Haryana                 14.042374
Himachal Pradesh         2.666929
Jammu & Kashmir          7.180521
Jharkhand               23.485794
Karnataka               10.219224
Kerala                   5.334978
Madhya Pradesh          11.587397
Maharashtra             17.382238
Manipur                  3.900000
Meghalaya                8.955908
Mizoram                  2.085048
Nagaland                 2.059736
Odisha                   5.271345
Puducherry              11.958212
Punjab                  10.628598
Rajasthan                7.660400
Sikkim                  19.800000
Tamil Nadu              11.313815
Telangana                5.418609
Uttar Pradesh           12.518664
Uttarakhand             24.339461
Uttaranchal             24.697736
West Bengal             12.586563
Name: so2, dtype: float64

In [24]:
new_column = state_df['so2'].apply(lambda x: x.fillna(x.mean()))

In [27]:
new_column.isnull().sum()

0

In [32]:
new_column

state
Andhra Pradesh  0          4.8
                1          3.1
                2          6.2
                3          6.3
                4          4.7
                          ...
West Bengal     435734    20.0
                435735    17.0
                435736    18.0
                435737    22.0
                435738    20.0
Name: so2, Length: 435061, dtype: float64